body{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}
nav{
    padding:1rem;
    background-color: aliceblue;
}
.nav a{
    color: #333;
    text-decoration: none;
    font-weight: 600;
    margin: 1rem 3rem;
    font-size: 1.6rem;
}
.logo{
    width: 6rem;
    height: 6rem;
}
.company-logo{
    text-align: center;
}
.navbar-brand{
    height: 7rem !important;
    padding: 0.5rem 14rem !important;
}
.navbar{
    margin-bottom: 0!important;
}
.padding{
    padding: 5rem;
}
.mb-25{
    margin-bottom: 15rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.cost{
    text-align: center;
}
.banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/company-banner.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.header-container,a {
    padding: 0.5rem;
    float: right;
    display: flex;
    list-style-type: none;
    text-decoration: none;
}
.company-banner-container {
    width: 100%;
    height: 70rem;
    margin-bottom: 5rem;
}
.slogan{
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}
.product-img{
    width:100%;
    height:350px;
}

.prod-data {
    padding: 2rem!important;
}
.products .row{
    margin-bottom: 2rem;
    height:350px
}
footer{
    width: 100%;
    background-color: aqua;
    padding: 40px 0px;
}
.footer{
    padding:3rem;
    background-color: aliceblue;
}

.product-img{
    width: 100%;
}
.product{
    border: 1px solid #333;
    margin: 2rem;
}
.product-content{
    padding: 2rem;
}


